<nav class="navbar navbar-expand-lg bg-white nav-inicio">
  <div class="container-fluid">
    <img src="assets/img/logo-sombra.png" alt="" />

    <div class="collapse navbar-collapse" id="navbarScroll"></div>
  </div>
</nav>
<div class="d-flex">
  <div
    class="flex-shrink-0 p-3 bg-perfil"
    style="width: 280px; height: calc(100vh-55px)"
  >
    <ul class="list-unstyled ps-0">
      <li>
        <button
          class="btn align-items-center rounded collapsed"
          [routerLink]="['/inicio']"
        >
          Inicio
        </button>
      </li>

      <li class="mb-1">
        <button
          class="btn btn-toggle align-items-center rounded collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#home-collapse"
          aria-expanded="true"
        >
          Perfil
        </button>
        <div class="collapse show" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li>
              <a href="#" class="link-dark rounded" [routerLink]="['/perfil']"
                >Actualizar Datos</a
              >
            </li>
            <li>
              <a
                href="#"
                class="link-dark rounded"
                [routerLink]="['/modificacion']"
                >Modificar contraseña</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="contenedor w-100">
    <div class="fondo-inicio">
      <div class="inicio-caja">
        <h4>¡BIENVENIDO!</h4>
        <p>
          ¡Gracias por suscribirte a nuestra comunidad! Conocenos mejor e
          inspírate haciendo tu vida mas divertida y lucrativa
        </p>
      </div>
    </div>
  </div>
</div>
